elm-stuff
node_modules
dist
.vscode
.idea
.metals/
morphir-ir.json
morphir-hashes.json
morphir-test-coverage.json
generated/
out/
redistributable/Scala
packages/cli/web/insightapp.js
packages/cli/treeStuff.js
packages/cli/index.html
packages/incremental-compiler/lib/
packages/tests-integration/reference-model/Dockerfile
packages/cadl-Frontend/cadl-output
lib/geneated
Morphir.Elm.CLI.js
Morphir.Elm.Generator.js
docs.json
/.coverage/

# Scala Related
.scala-build/
.bsp/
.bloop/
